__pycache__/
*.py[codz]
*$py.class
*.so

build/
dist/
*.egg-info/
*.egg
MANIFEST

*.log
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.pytest_cache/

.env
.envrc
.venv
env/
venv/

.mypy_cache/
.ruff_cache/
.pytype/

dev/
logs/

*.json
!.vscode/*.json

.DS_Store

.pid
.mcp-pid

uv.lock
